.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
media/icons/devai.ico
media/icons/devai.png
scripts/**
tests/**
*.vsix 
out/
dist/
node_modules/
inventario-arquivos.txt
inventario-arquivos.json
__backup_organizer/